site_name: Mismo
site_url: https://nickcrews.github.io/mismo/
repo_url: https://github.com/nickcrews/mismo/
theme:
  custom_dir: docs/overrides
  name: material
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - header.autohide
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
plugins:
  - git-revision-date-localized
  - literate-nav
  - meta
  - mkdocs-jupyter:
      execute: false
      ignore:
        - "*.py"
      include_source: true
      allow_errors: false
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://scikit-learn.org/stable/objects.inv
            # Ibis doesn't export this anymore after switching to quartodoc
            # https://github.com/machow/quartodoc/issues/293
            # - https://ibis-project.org/objects.inv
          options:
            docstring_style: numpy
            docstring_section_style: spacy
            heading_level: 3
            show_signature_annotations: true
            show_root_full_path: true
            show_root_heading: true
            show_root_members_full_path: true
            show_root_toc_entry: true
            show_source: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
  - search
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      toc_depth: 3
