name: docs 
on:
  workflow_dispatch:
  push:
    branches: [main]
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache 
          restore-keys: |
            mkdocs-material-
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.8.8"

      - uses: extractions/setup-just@v3
        with:
          just-version: "1.42.4" # optional semver specification, otherwise latest
      
      - run: just docs-publish